*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header__container {
  max-width: 68.75rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1.25rem;
  min-width: 18.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  font-weight: 800;
  letter-spacing: 0.009375rem;
  color: #1c933a;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__container {
  max-width: 68.75rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1.25rem;
  min-width: 18.125rem;
}

.footer__container {
  max-width: 68.75rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1.25rem;
  min-width: 18.125rem;
}

.section-1 {
  background: url("../img/main.jpeg") 50% 0/cover no-repeat;
}

.section-1__container {
  max-width: 68.75rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1.25rem;
  min-width: 18.125rem;
}

.section-1__contant {
  background: rgba(71, 138, 201, 0.1490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-1__subtitle {
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-1__title {
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 5px;
  text-align: center;
}

.section-1__decor-1 {
  position: absolute;
  border-left: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  left: 0.375rem;
  bottom: 0.375rem;
}

.section-1__decor-2 {
  position: absolute;
  border-top: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  right: 0.375rem;
  top: 0.375rem;
}

.body__wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: 1rem/1.5 "Roboto", sans-serif;
}

@media (min-width: 29.99875em) {
  .header__container {
    padding-right: 1.25rem;
  }

  .header__container {
    padding-left: 1.25rem;
  }

  .logo {
    padding-top: 1.25rem;
  }

  .logo {
    padding-bottom: 1.25rem;
  }

  .logo__link > :not(:last-child) {
    margin-right: 1.25rem;
  }

  .logo__img {
    width: 3.75rem;
  }

  .logo__name {
    font-size: 2.5rem;
  }

  .logo__name {
    line-height: 2.5rem;
  }

  .social {
    padding-top: 1.25rem;
  }

  .social {
    padding-bottom: 1.25rem;
  }

  .social__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .link__img {
    width: 1.5rem;
  }
}

@media (min-width: 47.99875em) {
  .section-1__subtitle {
    font-size: 0.75rem;
  }

  .section-1__subtitle {
    line-height: 0.75rem;
  }

  .section-1__subtitle {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 61.99875em) {
  .section-1__contant {
    padding-left: 6.25rem;
  }

  .section-1__contant {
    padding-right: 6.25rem;
  }

  .section-1__contant {
    padding-top: 5rem;
  }

  .section-1__contant {
    padding-bottom: 5rem;
  }

  .section-1__decor-1 {
    width: 6.25rem;
  }

  .section-1__decor-1 {
    height: 6.25rem;
  }

  .section-1__decor-2 {
    width: 6.25rem;
  }

  .section-1__decor-2 {
    height: 6.25rem;
  }
}

@media (min-width: 70em) {
  .section-1__container {
    padding-left: 13.125rem;
  }

  .section-1__container {
    padding-right: 13.125rem;
  }

  .section-1__container {
    padding-top: 13.125rem;
  }

  .section-1__container {
    padding-bottom: 13.125rem;
  }

  .section-1__title {
    font-size: 3.5rem;
  }

  .section-1__title {
    line-height: 3.5rem;
  }
}

@media (max-width: 35em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 18.125em) {
  .header__container {
    padding-right: 0.3125rem;
  }

  .header__container {
    padding-left: 0.3125rem;
  }

  .logo {
    padding-top: 0.3125rem;
  }

  .logo {
    padding-bottom: 0.3125rem;
  }

  .logo__link > :not(:last-child) {
    margin-right: 0.375rem;
  }

  .logo__img {
    width: 2.5rem;
  }

  .logo__name {
    font-size: 1.5rem;
  }

  .logo__name {
    line-height: 1.5rem;
  }

  .social {
    padding-top: 0.3125rem;
  }

  .social {
    padding-bottom: 0.3125rem;
  }

  .social__items {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }

  .link__img {
    width: 1rem;
  }

  .section-1__container {
    padding-left: 0.3125rem;
  }

  .section-1__container {
    padding-right: 0.3125rem;
  }

  .section-1__container {
    padding-top: 0.3125rem;
  }

  .section-1__container {
    padding-bottom: 0.3125rem;
  }

  .section-1__contant {
    padding-left: 0.3125rem;
  }

  .section-1__contant {
    padding-right: 0.3125rem;
  }

  .section-1__contant {
    padding-top: 0.3125rem;
  }

  .section-1__contant {
    padding-bottom: 0.3125rem;
  }

  .section-1__subtitle {
    font-size: 0.5rem;
  }

  .section-1__subtitle {
    line-height: 0.5rem;
  }

  .section-1__subtitle {
    margin-bottom: 0.5rem;
  }

  .section-1__title {
    font-size: 1.875rem;
  }

  .section-1__title {
    line-height: 1.875rem;
  }

  .section-1__decor-1 {
    width: 1.875rem;
  }

  .section-1__decor-1 {
    height: 1.875rem;
  }

  .section-1__decor-2 {
    width: 1.875rem;
  }

  .section-1__decor-2 {
    height: 1.875rem;
  }
}

@media (min-width: 18.125em) and (max-width: 29.99875em) {
  .header__container {
    padding-right: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .header__container {
    padding-left: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .logo {
    padding-top: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .logo {
    padding-bottom: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .logo__link > :not(:last-child) {
    margin-right: clamp( 0.375rem , -0.9606669123rem  +  7.3691967576vw , 1.25rem );
  }

  .logo__img {
    width: clamp( 2.5rem , 0.591904411rem  +  10.5274239394vw , 3.75rem );
  }

  .logo__name {
    font-size: clamp( 1.5rem , -0.0264764712rem  +  8.4219391515vw , 2.5rem );
  }

  .logo__name {
    line-height: clamp( 1.5rem , -0.0264764712rem  +  8.4219391515vw , 2.5rem );
  }

  .social {
    padding-top: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .social {
    padding-bottom: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .social__items {
    -webkit-column-gap: clamp( 1rem , 0.6183808822rem  +  2.1054847879vw , 1.25rem );
       -moz-column-gap: clamp( 1rem , 0.6183808822rem  +  2.1054847879vw , 1.25rem );
            column-gap: clamp( 1rem , 0.6183808822rem  +  2.1054847879vw , 1.25rem );
  }

  .link__img {
    width: clamp( 1rem , 0.2367617644rem  +  4.2109695757vw , 1.5rem );
  }
}

@media (min-width: 18.125em) and (max-width: 70em) {
  .section-1__container {
    padding-left: clamp( 0.3125rem , -4.1641566265rem  +  24.6987951807vw , 13.125rem );
  }

  .section-1__container {
    padding-right: clamp( 0.3125rem , -4.1641566265rem  +  24.6987951807vw , 13.125rem );
  }

  .section-1__container {
    padding-top: clamp( 0.3125rem , -4.1641566265rem  +  24.6987951807vw , 13.125rem );
  }

  .section-1__container {
    padding-bottom: clamp( 0.3125rem , -4.1641566265rem  +  24.6987951807vw , 13.125rem );
  }

  .section-1__title {
    font-size: clamp( 1.875rem , 1.3072289157rem  +  3.1325301205vw , 3.5rem );
  }

  .section-1__title {
    line-height: clamp( 1.875rem , 1.3072289157rem  +  3.1325301205vw , 3.5rem );
  }
}

@media (min-width: 18.125em) and (max-width: 61.99875em) {
  .section-1__contant {
    padding-left: clamp( 0.3125rem , -2.140383273rem  +  13.5331490926vw , 6.25rem );
  }

  .section-1__contant {
    padding-right: clamp( 0.3125rem , -2.140383273rem  +  13.5331490926vw , 6.25rem );
  }

  .section-1__contant {
    padding-top: clamp( 0.3125rem , -1.6239867945rem  +  10.6840650731vw , 5rem );
  }

  .section-1__contant {
    padding-bottom: clamp( 0.3125rem , -1.6239867945rem  +  10.6840650731vw , 5rem );
  }

  .section-1__decor-1 {
    width: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }

  .section-1__decor-1 {
    height: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }

  .section-1__decor-2 {
    width: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }

  .section-1__decor-2 {
    height: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }
}

@media (min-width: 18.125em) and (max-width: 47.99875em) {
  .section-1__subtitle {
    font-size: clamp( 0.5rem , 0.3483200134rem  +  0.8368550985vw , 0.75rem );
  }

  .section-1__subtitle {
    line-height: clamp( 0.5rem , 0.3483200134rem  +  0.8368550985vw , 0.75rem );
  }

  .section-1__subtitle {
    margin-bottom: clamp( 0.5rem , 0.3483200134rem  +  0.8368550985vw , 0.75rem );
  }
}