*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header__container {
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  font-weight: 800;
  letter-spacing: 0.009375rem;
  color: #1c933a;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__container {
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.footer__container {
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.footer__container p {
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
}

.block-title__content {
  position: relative;
}

.block-title__title {
  font-weight: 400;
  letter-spacing: 0.003125em;
  color: #303030;
}

.block-title__line {
  display: block;
  height: 0.1875rem;
  background: #478ac9;
  margin: 30px auto 20px 0;
}

.block-title--center .block-title__title {
  text-align: center;
}

.block-title--center .block-title__line {
  display: block;
  height: 0.1875rem;
  background: #478ac9;
  margin: 30px auto 20px;
}

.about-card {
  background: rgba(255, 255, 255, 0.75);
  height: 100%;
}

.about-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.about-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 40px;
}

.about-card__header > :not(:last-child) {
  margin-right: 20px;
}

.about-card__title {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: normal;
  color: #db545a;
}

.about-card__subtitle {
  font-size: 1.375rem;
  line-height: 1.625rem;
  padding-bottom: 10px;
  color: #333333;
  font-weight: 400;
  letter-spacing: 0.078125rem;
}

.about-card__main {
  font-family: "Open Sans";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about-card__footer {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-card__footer a {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #333333;
  position: relative;
}

.about-card__footer a:after {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background: #db545a;
}

.about-card__footer:hover a {
  color: #db545a;
}

.about-card__footer:hover a:after {
  width: 10%;
  background: #333333;
}

.project-card__container {
  min-height: 25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.project-card__main {
  font-family: "Open Sans";
  background: #FFFFFF;
  position: relative;
  z-index: 200;
  border: 0.125rem solid #333333;
  text-align: center;
}

.project-card__main a span {
  color: #333333;
  text-transform: uppercase;
}

.project-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 100;
}

.about__container {
  background: url("../img/s7_1.jpeg") 50% 0/cover no-repeat;
  color: #FFFFFF;
}

.about__header {
  font-family: "Open Sans";
}

.about__main {
  font-family: "Open Sans";
}

.about__footer {
  display: inline-block;
}

.about__footer a {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #FFFFFF;
  position: relative;
}

.about__footer a:after {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background: #FFFFFF;
}

.about__footer:hover a {
  color: #db545a;
}

.about__footer:hover a:after {
  width: 10%;
  background: #db545a;
}

.contact__input {
  margin-bottom: 20px;
}

.contact__input input {
  width: 100%;
  border: 1px solid #737373;
  background: #FFFFFF;
}

.contact__button button {
  cursor: pointer;
  font-family: "Open Sans";
  width: 100%;
  border: 1px solid #000;
  background: #4CAF50;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.section-1__container {
  background: url("../img/main.jpeg") 50% 0/cover no-repeat;
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.section-1__contant {
  background: rgba(71, 138, 201, 0.1490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-1__subtitle {
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-1__title {
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 5px;
  text-align: center;
}

.section-1__decor-1 {
  position: absolute;
  border-left: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  left: 0.375rem;
  bottom: 0.375rem;
}

.section-1__decor-2 {
  position: absolute;
  border-top: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  right: 0.375rem;
  top: 0.375rem;
}

.section-2__container {
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.row-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-main__img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 4px 2px 8px 0px rgb(128, 128, 128);
          box-shadow: 4px 2px 8px 0px rgb(128, 128, 128);
  position: relative;
  overflow: hidden;
}

.row-main__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.row-main__copy {
  font-family: "Open Sans";
}

.row-sub {
  position: relative;
}

.row-sub__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-sub__img {
  position: relative;
  top: -60px;
  -webkit-box-shadow: 0px 0px 31px 0px rgba(26, 26, 26, 0.5);
          box-shadow: 0px 0px 31px 0px rgba(26, 26, 26, 0.5);
  margin-bottom: -60px;
  overflow: hidden;
}

.row-sub__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.row-sub__fly {
  position: absolute;
  background: #f2f2f2;
  right: 0;
  top: 0;
}

.row-sub__fly p {
  font-style: italic;
}

.section-3__container {
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.section-3__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-3__exposition {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.section-3__copy {
  font-family: "Open Sans";
}

.section-3__pics {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.section-3__pics > :nth-child(1) {
  z-index: 300;
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 31px 0px rgba(26, 26, 26, 0.5);
          box-shadow: 0px 0px 31px 0px rgba(26, 26, 26, 0.5);
  right: 0;
  top: 0;
}

.section-3__pics > :nth-child(1) img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-3__pics > :nth-child(2) {
  z-index: 200;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
}

.section-3__pics > :nth-child(2) img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-3__bg {
  z-index: 100;
  position: absolute;
  background: rgb(216, 216, 216);
  top: 20%;
  left: 20%;
}

.section-4__container {
  background: url("../img/bg3.jpeg") 50% 0/cover no-repeat;
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.section-4__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-4__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.section-5__container {
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.section-5__header {
  margin: 0 auto;
  max-width: 41.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5__copy {
  text-align: center;
}

.section-5__cards {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-5__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23%;
          flex: 1 0 23%;
}

.section-6__container {
  background: url("../img/bg6.jpeg") 50% 0/cover no-repeat;
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
}

.section-6__header {
  margin: 0 auto;
  max-width: 41.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-6__copy {
  text-align: center;
}

.section-6__footer > :nth-child(1) {
  color: #db545a;
  font-weight: bold;
}

.section-7__container {
  background-color: #e5e5e5;
  max-width: 77.5rem;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  min-width: 18.125rem;
  padding-top: 7.5rem;
  padding-bottom: 9.375rem;
}

.section-7__contant {
  position: relative;
}

.section-7__pic {
  position: absolute;
  top: calc(-50% - 260px);
  right: 0;
  z-index: 100;
}

.section-7__pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-7__about {
  position: relative;
  z-index: 200;
}

.section-7__contact {
  position: absolute;
  z-index: 300;
  background: #FFFFFF;
  padding: 30px;
  max-width: 600px;
  bottom: -40%;
  right: 5%;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(26, 26, 26, 0.5);
          box-shadow: 0px 0px 30px 0px rgba(26, 26, 26, 0.5);
  margin-bottom: 30px;
}

.body__wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: 1rem/1.5 "Roboto", sans-serif;
}

@media (min-width: 29.99875em) {
  .header__container {
    padding-right: 0.9375rem;
  }

  .header__container {
    padding-left: 0.9375rem;
  }

  .logo {
    padding-top: 1.25rem;
  }

  .logo {
    padding-bottom: 1.25rem;
  }

  .logo__link > :not(:last-child) {
    margin-right: 1.25rem;
  }

  .logo__img {
    width: 3.75rem;
  }

  .logo__name {
    font-size: 2.5rem;
  }

  .logo__name {
    line-height: 2.5rem;
  }

  .social {
    padding-top: 1.25rem;
  }

  .social {
    padding-bottom: 1.25rem;
  }

  .social__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .link__img {
    width: 1.5rem;
  }

  .section-2__container {
    padding-right: 0.9375rem;
  }

  .section-2__container {
    padding-left: 0.9375rem;
  }

  .section-3__container {
    padding-right: 0.9375rem;
  }

  .section-3__container {
    padding-left: 0.9375rem;
  }
}

@media (min-width: 47.99875em) {
  .section-1__subtitle {
    font-size: 0.75rem;
  }

  .section-1__subtitle {
    line-height: 0.75rem;
  }

  .section-1__subtitle {
    margin-bottom: 0.75rem;
  }

  .section-2__contant {
    padding-right: 3.125rem;
  }

  .section-2__contant {
    padding-left: 3.125rem;
  }

  .section-2__contant {
    padding-top: 3.75rem;
  }

  .row-main__aside {
    padding-right: 1.875rem;
  }

  .row-main__aside {
    padding-left: 1.875rem;
  }

  .row-sub__aside {
    padding-right: 1.25rem;
  }

  .row-sub__aside {
    padding-left: 1.25rem;
  }

  .row-sub__fly {
    padding-right: 2.5rem;
  }

  .row-sub__fly {
    padding-left: 2.5rem;
  }

  .section-3__contant {
    padding-right: 3.125rem;
  }

  .section-3__contant {
    padding-left: 3.125rem;
  }

  .section-3__exposition {
    padding-right: 3.75rem;
  }
}

@media (min-width: 61.99875em) {
  .block-title__title {
    font-size: 2.25rem;
  }

  .block-title__title {
    line-height: 2.25rem;
  }

  .block-title__line {
    width: 3.75rem;
  }

  .block-title--center .block-title__line {
    width: 3.75rem;
  }

  .section-1__contant {
    padding-left: 6.25rem;
  }

  .section-1__contant {
    padding-right: 6.25rem;
  }

  .section-1__contant {
    padding-top: 5rem;
  }

  .section-1__contant {
    padding-bottom: 5rem;
  }

  .section-1__decor-1 {
    width: 6.25rem;
  }

  .section-1__decor-1 {
    height: 6.25rem;
  }

  .section-1__decor-2 {
    width: 6.25rem;
  }

  .section-1__decor-2 {
    height: 6.25rem;
  }
}

@media (min-width: 78.4375em) {
  .footer__container p {
    padding-top: 3.125rem;
  }

  .footer__container p {
    padding-bottom: 3.125rem;
  }

  .footer__container p {
    font-size: 1rem;
  }

  .footer__container p {
    line-height: 1.625rem;
  }

  .about-card__container {
    padding-top: 3.125rem;
  }

  .about-card__container {
    padding-bottom: 3.125rem;
  }

  .about-card__container {
    padding-left: 2.5rem;
  }

  .about-card__container {
    padding-right: 2.5rem;
  }

  .about-card__main {
    font-size: 1rem;
  }

  .about-card__main {
    line-height: 1.75rem;
  }

  .about-card__main {
    margin-bottom: 2.0625rem;
  }

  .project-card__main {
    padding-top: 1rem;
  }

  .project-card__main {
    padding-bottom: 1rem;
  }

  .project-card__main {
    padding-left: 1rem;
  }

  .project-card__main {
    padding-right: 1rem;
  }

  .project-card__main a span {
    font-size: 1.125rem;
  }

  .project-card__main a span {
    line-height: 1.375rem;
  }

  .about__container {
    padding-top: 3.75rem;
  }

  .about__container {
    padding-bottom: 3.75rem;
  }

  .about__container {
    padding-left: 1.875rem;
  }

  .about__container {
    padding-right: 1.875rem;
  }

  .about__header {
    font-size: 1.875rem;
  }

  .about__header {
    line-height: 2.25rem;
  }

  .about__header {
    margin-bottom: 2.3125rem;
  }

  .about__main {
    font-size: 1rem;
  }

  .about__main {
    line-height: 1.625rem;
  }

  .about__main {
    margin-bottom: 2.0625rem;
  }

  .contact__input input {
    margin-bottom: 0.75rem;
  }

  .contact__input input {
    padding: 0.625rem;
  }

  .contact__input input {
    font-size: 1rem;
  }

  .contact__input input {
    line-height: 1.125rem;
  }

  .contact__button button {
    font-size: 1rem;
  }

  .contact__button button {
    line-height: 1.75rem;
  }

  .contact__button button {
    padding: 0.625rem;
  }

  .section-1__container {
    padding-left: 11.875rem;
  }

  .section-1__container {
    padding-right: 11.875rem;
  }

  .section-1__container {
    padding-top: 9.375rem;
  }

  .section-1__container {
    padding-bottom: 9.375rem;
  }

  .section-1__title {
    font-size: 3.5rem;
  }

  .section-1__title {
    line-height: 3.5rem;
  }

  .section-2__container {
    margin-bottom: 2.5rem;
  }

  .row-main__img {
    -ms-flex-preferred-size: 35.625rem;
        flex-basis: 35.625rem;
  }

  .row-main__aside {
    padding-top: 6.25rem;
  }

  .row-main__aside {
    padding-bottom: 6.25rem;
  }

  .row-main__copy {
    font-size: 1rem;
  }

  .row-main__copy {
    line-height: 1.625rem;
  }

  .row-sub__aside {
    padding-top: 3.75rem;
  }

  .row-sub__aside {
    padding-bottom: 3.75rem;
  }

  .row-sub__aside {
    font-size: 1.5rem;
  }

  .row-sub__aside {
    line-height: 2.375rem;
  }

  .row-sub__aside {
    max-width: 16.25rem;
  }

  .row-sub__img {
    padding-right: 35.75rem;
  }

  .row-sub__img {
    padding-bottom: 22.8125rem;
  }

  .row-sub__fly {
    max-width: 22.5rem;
  }

  .row-sub__fly {
    padding-top: 1.25rem;
  }

  .row-sub__fly {
    padding-bottom: 1.25rem;
  }

  .row-sub__fly p {
    font-size: 1rem;
  }

  .row-sub__fly p {
    line-height: 1.5rem;
  }

  .section-3__exposition {
    padding-top: 9.375rem;
  }

  .section-3__exposition {
    -ms-flex-preferred-size: 28.75rem;
        flex-basis: 28.75rem;
  }

  .section-3__copy {
    font-size: 1rem;
  }

  .section-3__copy {
    line-height: 1.625rem;
  }

  .section-3__pics > :nth-child(1) {
    width: 24.1875rem;
  }

  .section-3__pics > :nth-child(1) {
    height: 29.8125rem;
  }

  .section-3__pics > :nth-child(2) {
    width: 28.5625rem;
  }

  .section-3__pics > :nth-child(2) {
    height: 19.375rem;
  }

  .section-3__bg {
    width: 28.125rem;
  }

  .section-3__bg {
    height: 25rem;
  }

  .section-4__container {
    padding-left: 3.125rem;
  }

  .section-4__container {
    padding-right: 3.125rem;
  }

  .section-4__container {
    padding-top: 6.25rem;
  }

  .section-4__container {
    padding-bottom: 6.25rem;
  }

  .section-5__container {
    padding-left: 3.125rem;
  }

  .section-5__container {
    padding-right: 3.125rem;
  }

  .section-5__container {
    padding-top: 5rem;
  }

  .section-5__container {
    padding-bottom: 6.25rem;
  }

  .section-5__header {
    margin-bottom: 1.25rem;
  }

  .section-5__copy {
    font-size: 1rem;
  }

  .section-5__copy {
    line-height: 1.625rem;
  }

  .section-5__cards {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .section-5__cards {
    row-gap: 1.25rem;
  }

  .section-6__container {
    padding-left: 3.125rem;
  }

  .section-6__container {
    padding-right: 3.125rem;
  }

  .section-6__container {
    padding-top: 5rem;
  }

  .section-6__header {
    margin-bottom: 3.625rem;
  }

  .section-6__copy {
    font-size: 1.25rem;
  }

  .section-6__copy {
    line-height: 1.625rem;
  }

  .section-6__footer {
    padding-top: 5.125rem;
  }

  .section-6__footer {
    padding-bottom: 5.125rem;
  }

  .section-6__footer {
    max-width: 23.125rem;
  }

  .section-6__footer > :nth-child(1) {
    font-size: 1.875rem;
  }

  .section-6__footer > :nth-child(1) {
    line-height: 2.25rem;
  }

  .section-6__footer > :nth-child(1) {
    margin-bottom: 1.875rem;
  }

  .section-6__footer > :nth-child(2) {
    font-size: 1.5rem;
  }

  .section-6__footer > :nth-child(2) {
    line-height: 2.25rem;
  }

  .section-6__footer > :nth-child(2) {
    margin-bottom: 1.875rem;
  }

  .section-7__container {
    padding-left: 3.125rem;
  }

  .section-7__container {
    padding-right: 3.125rem;
  }

  .section-7__pic {
    padding-right: 43.75rem;
  }

  .section-7__pic {
    padding-bottom: 37.5rem;
  }

  .section-7__about {
    max-width: 32.5rem;
  }
}

@media (max-width: 75em) {
  .section-7__container {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .section-7__contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .section-7__contant > :last-child {
    position: relative;
    right: 0;
    margin: 0 auto;
  }

  .section-7__contant > :nth-child(1) {
    top: -40%;
  }
}

@media (max-width: 35em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 78.4375em) {
  .row-sub__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10rem;
  }

  .row-sub__img {
    top: -30px;
    margin-bottom: -30px;
  }

  .row-sub__fly {
    left: 0;
    bottom: 0;
    top: auto;
  }

  .section-3__pics > :nth-child(1) {
    width: 21.0625rem;
    height: 26.6875rem;
  }

  .section-3__pics > :nth-child(2) {
    width: 25.4375rem;
    height: 16.25rem;
  }

  .section-3__bg {
    top: 25%;
    left: 15%;
  }
}

@media (max-width: 61.99875em) {
  .section-3__contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .section-3__bg {
    top: 25%;
    left: 40%;
  }

  .section-4__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }

  .section-5__cards {
    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }

  .section-5__cards {
    row-gap: 0.875rem;
  }

  .section-5__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
}

@media (max-width: 61.99875em) and (max-width: 29.99875em) {
  .section-3__pics {
    height: 15.625rem;
  }

  .section-3__pics {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 59.375em) {
  .row-sub__row {
    padding-bottom: 0px;
  }

  .row-sub__fly {
    margin-top: 10px;
    position: relative;
    max-width: 60% !important;
  }
}

@media (max-width: 47.99875em) {
  .about-card__container {
    padding-top: 1.5625rem;
  }

  .about-card__container {
    padding-bottom: 1.5625rem;
  }

  .about-card__container {
    padding-left: 1.875rem;
  }

  .about-card__container {
    padding-right: 1.875rem;
  }

  .project-card__main {
    padding-top: 0.625rem;
  }

  .project-card__main {
    padding-bottom: 0.625rem;
  }

  .project-card__main {
    padding-left: 0.625rem;
  }

  .project-card__main {
    padding-right: 0.625rem;
  }

  .about__container {
    padding-top: 1.875rem;
  }

  .about__container {
    padding-bottom: 1.875rem;
  }

  .about__container {
    padding-left: 1.25rem;
  }

  .about__container {
    padding-right: 1.25rem;
  }

  .row-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row-sub__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }

  .row-sub__img {
    top: 0px;
    margin-bottom: 0px;
  }

  .row-sub__fly {
    max-width: 100% !important;
  }

  .section-3__bg {
    top: 25%;
    left: 35%;
  }

  .section-4__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .section-5__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .section-7__contant > :nth-child(1) {
    top: -40%;
  }
}

@media (max-width: 29.99875em) {
  .section-3__pics > :nth-child(1) {
    width: 9.375rem;
  }

  .section-3__pics > :nth-child(1) {
    height: 12.5rem;
  }

  .section-3__pics > :nth-child(2) {
    width: 16.25rem;
  }

  .section-3__pics > :nth-child(2) {
    height: 10.125rem;
  }

  .section-3__bg {
    width: 9.375rem;
  }

  .section-3__bg {
    height: 9.375rem;
  }

  .section-3__bg {
    top: 25%;
    left: 35%;
  }

  .section-4__container {
    padding-top: 1.25rem;
  }

  .section-5__container {
    padding-top: 2.5rem;
  }

  .section-6__container {
    padding-top: 2.5rem;
  }

  .section-7__contant > :nth-child(1) {
    display: none;
  }
}

@media (max-width: 18.125em) {
  .header__container {
    padding-right: 0.3125rem;
  }

  .header__container {
    padding-left: 0.3125rem;
  }

  .logo {
    padding-top: 0.3125rem;
  }

  .logo {
    padding-bottom: 0.3125rem;
  }

  .logo__link > :not(:last-child) {
    margin-right: 0.375rem;
  }

  .logo__img {
    width: 2.5rem;
  }

  .logo__name {
    font-size: 1.5rem;
  }

  .logo__name {
    line-height: 1.5rem;
  }

  .social {
    padding-top: 0.3125rem;
  }

  .social {
    padding-bottom: 0.3125rem;
  }

  .social__items {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }

  .link__img {
    width: 1rem;
  }

  .footer__container p {
    padding-top: 1.875rem;
  }

  .footer__container p {
    padding-bottom: 1.875rem;
  }

  .footer__container p {
    font-size: 0.75rem;
  }

  .footer__container p {
    line-height: 1rem;
  }

  .block-title__title {
    font-size: 1.25rem;
  }

  .block-title__title {
    line-height: 1.25rem;
  }

  .block-title__line {
    width: 2.5rem;
  }

  .block-title--center .block-title__line {
    width: 2.5rem;
  }

  .about-card__main {
    font-size: 0.75rem;
  }

  .about-card__main {
    line-height: 1.125rem;
  }

  .about-card__main {
    margin-bottom: 1.875rem;
  }

  .project-card__container {
    min-height: 12.5rem;
  }

  .project-card__container {
    max-width: 12.5rem;
  }

  .project-card__main a span {
    font-size: 0.75rem;
  }

  .project-card__main a span {
    line-height: 1.125rem;
  }

  .about__header {
    font-size: 0.75rem;
  }

  .about__header {
    line-height: 1.125rem;
  }

  .about__header {
    margin-bottom: 1.875rem;
  }

  .about__main {
    font-size: 0.75rem;
  }

  .about__main {
    line-height: 1rem;
  }

  .about__main {
    margin-bottom: 1.875rem;
  }

  .contact__input input {
    margin-bottom: 0.25rem;
  }

  .contact__input input {
    padding: 0.375rem;
  }

  .contact__input input {
    font-size: 0.75rem;
  }

  .contact__input input {
    line-height: 0.875rem;
  }

  .contact__button button {
    font-size: 0.75rem;
  }

  .contact__button button {
    line-height: 1.125rem;
  }

  .contact__button button {
    padding: 0.375rem;
  }

  .section-1__container {
    padding-left: 0.3125rem;
  }

  .section-1__container {
    padding-right: 0.3125rem;
  }

  .section-1__container {
    padding-top: 0.3125rem;
  }

  .section-1__container {
    padding-bottom: 0.3125rem;
  }

  .section-1__contant {
    padding-left: 0.625rem;
  }

  .section-1__contant {
    padding-right: 0.625rem;
  }

  .section-1__contant {
    padding-top: 0.625rem;
  }

  .section-1__contant {
    padding-bottom: 0.625rem;
  }

  .section-1__subtitle {
    font-size: 0.375rem;
  }

  .section-1__subtitle {
    line-height: 0.375rem;
  }

  .section-1__subtitle {
    margin-bottom: 0.625rem;
  }

  .section-1__title {
    font-size: 1.625rem;
  }

  .section-1__title {
    line-height: 1.625rem;
  }

  .section-1__decor-1 {
    width: 1.875rem;
  }

  .section-1__decor-1 {
    height: 1.875rem;
  }

  .section-1__decor-2 {
    width: 1.875rem;
  }

  .section-1__decor-2 {
    height: 1.875rem;
  }

  .section-2__container {
    padding-right: 0.3125rem;
  }

  .section-2__container {
    padding-left: 0.3125rem;
  }

  .section-2__container {
    margin-bottom: 0.9375rem;
  }

  .section-2__contant {
    padding-right: 0.3125rem;
  }

  .section-2__contant {
    padding-left: 0.3125rem;
  }

  .section-2__contant {
    padding-top: 0.3125rem;
  }

  .row-main__img {
    -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem;
  }

  .row-main__aside {
    padding-right: 0rem;
  }

  .row-main__aside {
    padding-left: 0rem;
  }

  .row-main__aside {
    padding-top: 0.3125rem;
  }

  .row-main__aside {
    padding-bottom: 0.3125rem;
  }

  .row-main__copy {
    font-size: 0.75rem;
  }

  .row-main__copy {
    line-height: 1rem;
  }

  .row-sub__aside {
    padding-right: 0rem;
  }

  .row-sub__aside {
    padding-left: 0rem;
  }

  .row-sub__aside {
    padding-top: 0.3125rem;
  }

  .row-sub__aside {
    padding-bottom: 0.3125rem;
  }

  .row-sub__aside {
    font-size: 1rem;
  }

  .row-sub__aside {
    line-height: 1.25rem;
  }

  .row-sub__aside {
    max-width: 13.75rem;
  }

  .row-sub__img {
    padding-right: 12.5rem;
  }

  .row-sub__img {
    padding-bottom: 6.25rem;
  }

  .row-sub__fly {
    max-width: 17.5rem;
  }

  .row-sub__fly {
    padding-right: 0.625rem;
  }

  .row-sub__fly {
    padding-left: 0.625rem;
  }

  .row-sub__fly {
    padding-top: 0.3125rem;
  }

  .row-sub__fly {
    padding-bottom: 0.3125rem;
  }

  .row-sub__fly p {
    font-size: 0.75rem;
  }

  .row-sub__fly p {
    line-height: 1.125rem;
  }

  .section-3__container {
    padding-right: 0.3125rem;
  }

  .section-3__container {
    padding-left: 0.3125rem;
  }

  .section-3__contant {
    padding-right: 0.3125rem;
  }

  .section-3__contant {
    padding-left: 0.3125rem;
  }

  .section-3__exposition {
    padding-right: 0.3125rem;
  }

  .section-3__exposition {
    padding-bottom: 1.875rem;
  }

  .section-3__copy {
    font-size: 0.75rem;
  }

  .section-3__copy {
    line-height: 1rem;
  }

  .section-4__container {
    padding-left: 0.3125rem;
  }

  .section-4__container {
    padding-right: 0.3125rem;
  }

  .section-4__container {
    padding-bottom: 0.3125rem;
  }

  .section-5__container {
    padding-left: 0.3125rem;
  }

  .section-5__container {
    padding-right: 0.3125rem;
  }

  .section-5__container {
    padding-bottom: 1.25rem;
  }

  .section-5__header {
    margin-bottom: 0.625rem;
  }

  .section-5__copy {
    font-size: 0.75rem;
  }

  .section-5__copy {
    line-height: 1rem;
  }

  .section-5__cards {
    max-width: 15.625rem;
  }

  .section-6__container {
    padding-left: 0.3125rem;
  }

  .section-6__container {
    padding-right: 0.3125rem;
  }

  .section-6__header {
    margin-bottom: 1.875rem;
  }

  .section-6__copy {
    font-size: 0.75rem;
  }

  .section-6__copy {
    line-height: 1rem;
  }

  .section-6__footer {
    padding-top: 2.5rem;
  }

  .section-6__footer {
    padding-bottom: 1.25rem;
  }

  .section-6__footer {
    max-width: 11.25rem;
  }

  .section-6__footer > :nth-child(1) {
    font-size: 0.75rem;
  }

  .section-6__footer > :nth-child(1) {
    line-height: 1rem;
  }

  .section-6__footer > :nth-child(1) {
    margin-bottom: 1rem;
  }

  .section-6__footer > :nth-child(2) {
    font-size: 0.75rem;
  }

  .section-6__footer > :nth-child(2) {
    line-height: 1rem;
  }

  .section-6__footer > :nth-child(2) {
    margin-bottom: 1rem;
  }

  .section-7__container {
    padding-left: 0.3125rem;
  }

  .section-7__container {
    padding-right: 0.3125rem;
  }

  .section-7__pic {
    padding-right: 4.375rem;
  }

  .section-7__pic {
    padding-bottom: 11.25rem;
  }

  .section-7__about {
    max-width: 25rem;
  }
}

@media (min-width: 18.125em) and (max-width: 29.99875em) {
  .header__container {
    padding-right: clamp( 0.3125rem , -0.6415477945rem  +  5.2637119697vw , 0.9375rem );
  }

  .header__container {
    padding-left: clamp( 0.3125rem , -0.6415477945rem  +  5.2637119697vw , 0.9375rem );
  }

  .logo {
    padding-top: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .logo {
    padding-bottom: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .logo__link > :not(:last-child) {
    margin-right: clamp( 0.375rem , -0.9606669123rem  +  7.3691967576vw , 1.25rem );
  }

  .logo__img {
    width: clamp( 2.5rem , 0.591904411rem  +  10.5274239394vw , 3.75rem );
  }

  .logo__name {
    font-size: clamp( 1.5rem , -0.0264764712rem  +  8.4219391515vw , 2.5rem );
  }

  .logo__name {
    line-height: clamp( 1.5rem , -0.0264764712rem  +  8.4219391515vw , 2.5rem );
  }

  .social {
    padding-top: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .social {
    padding-bottom: clamp( 0.3125rem , -1.1185716918rem  +  7.8955679545vw , 1.25rem );
  }

  .social__items {
    -webkit-column-gap: clamp( 1rem , 0.6183808822rem  +  2.1054847879vw , 1.25rem );
       -moz-column-gap: clamp( 1rem , 0.6183808822rem  +  2.1054847879vw , 1.25rem );
            column-gap: clamp( 1rem , 0.6183808822rem  +  2.1054847879vw , 1.25rem );
  }

  .link__img {
    width: clamp( 1rem , 0.2367617644rem  +  4.2109695757vw , 1.5rem );
  }

  .section-2__container {
    padding-right: clamp( 0.3125rem , -0.6415477945rem  +  5.2637119697vw , 0.9375rem );
  }

  .section-2__container {
    padding-left: clamp( 0.3125rem , -0.6415477945rem  +  5.2637119697vw , 0.9375rem );
  }

  .section-3__container {
    padding-right: clamp( 0.3125rem , -0.6415477945rem  +  5.2637119697vw , 0.9375rem );
  }

  .section-3__container {
    padding-left: clamp( 0.3125rem , -0.6415477945rem  +  5.2637119697vw , 0.9375rem );
  }
}

@media (min-width: 18.125em) and (max-width: 78.4375em) {
  .footer__container p {
    padding-top: clamp( 1.875rem , 1.4993523316rem  +  2.0725388601vw , 3.125rem );
  }

  .footer__container p {
    padding-bottom: clamp( 1.875rem , 1.4993523316rem  +  2.0725388601vw , 3.125rem );
  }

  .footer__container p {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .footer__container p {
    line-height: clamp( 1rem , 0.8121761658rem  +  1.0362694301vw , 1.625rem );
  }

  .about-card__main {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .about-card__main {
    line-height: clamp( 1.125rem , 0.9371761658rem  +  1.0362694301vw , 1.75rem );
  }

  .about-card__main {
    margin-bottom: clamp( 1.875rem , 1.8186528497rem  +  0.310880829vw , 2.0625rem );
  }

  .project-card__main a span {
    font-size: clamp( 0.75rem , 0.6373056995rem  +  0.621761658vw , 1.125rem );
  }

  .project-card__main a span {
    line-height: clamp( 1.125rem , 1.0498704663rem  +  0.414507772vw , 1.375rem );
  }

  .about__header {
    font-size: clamp( 0.75rem , 0.4119170984rem  +  1.8652849741vw , 1.875rem );
  }

  .about__header {
    line-height: clamp( 1.125rem , 0.7869170984rem  +  1.8652849741vw , 2.25rem );
  }

  .about__header {
    margin-bottom: clamp( 1.875rem , 1.7435233161rem  +  0.725388601vw , 2.3125rem );
  }

  .about__main {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .about__main {
    line-height: clamp( 1rem , 0.8121761658rem  +  1.0362694301vw , 1.625rem );
  }

  .about__main {
    margin-bottom: clamp( 1.875rem , 1.8186528497rem  +  0.310880829vw , 2.0625rem );
  }

  .contact__input input {
    margin-bottom: clamp( 0.25rem , 0.0997409326rem  +  0.829015544vw , 0.75rem );
  }

  .contact__input input {
    padding: clamp( 0.375rem , 0.2998704663rem  +  0.414507772vw , 0.625rem );
  }

  .contact__input input {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .contact__input input {
    line-height: clamp( 0.875rem , 0.7998704663rem  +  0.414507772vw , 1.125rem );
  }

  .contact__button button {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .contact__button button {
    line-height: clamp( 1.125rem , 0.9371761658rem  +  1.0362694301vw , 1.75rem );
  }

  .contact__button button {
    padding: clamp( 0.375rem , 0.2998704663rem  +  0.414507772vw , 0.625rem );
  }

  .section-1__container {
    padding-left: clamp( 0.3125rem , -3.1622409326rem  +  19.170984456vw , 11.875rem );
  }

  .section-1__container {
    padding-right: clamp( 0.3125rem , -3.1622409326rem  +  19.170984456vw , 11.875rem );
  }

  .section-1__container {
    padding-top: clamp( 0.3125rem , -2.4109455959rem  +  15.0259067358vw , 9.375rem );
  }

  .section-1__container {
    padding-bottom: clamp( 0.3125rem , -2.4109455959rem  +  15.0259067358vw , 9.375rem );
  }

  .section-1__title {
    font-size: clamp( 1.625rem , 1.0615284974rem  +  3.1088082902vw , 3.5rem );
  }

  .section-1__title {
    line-height: clamp( 1.625rem , 1.0615284974rem  +  3.1088082902vw , 3.5rem );
  }

  .section-2__container {
    margin-bottom: clamp( 0.9375rem , 0.4679404145rem  +  2.5906735751vw , 2.5rem );
  }

  .row-main__img {
    -ms-flex-preferred-size: clamp( 10rem , 2.2992227979rem  +  42.4870466321vw , 35.625rem );
        flex-basis: clamp( 10rem , 2.2992227979rem  +  42.4870466321vw , 35.625rem );
  }

  .row-main__aside {
    padding-top: clamp( 0.3125rem , -1.4718264249rem  +  9.8445595855vw , 6.25rem );
  }

  .row-main__aside {
    padding-bottom: clamp( 0.3125rem , -1.4718264249rem  +  9.8445595855vw , 6.25rem );
  }

  .row-main__copy {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .row-main__copy {
    line-height: clamp( 1rem , 0.8121761658rem  +  1.0362694301vw , 1.625rem );
  }

  .row-sub__aside {
    padding-top: clamp( 0.3125rem , -0.7205310881rem  +  5.6994818653vw , 3.75rem );
  }

  .row-sub__aside {
    padding-bottom: clamp( 0.3125rem , -0.7205310881rem  +  5.6994818653vw , 3.75rem );
  }

  .row-sub__aside {
    font-size: clamp( 1rem , 0.8497409326rem  +  0.829015544vw , 1.5rem );
  }

  .row-sub__aside {
    line-height: clamp( 1.25rem , 0.9119170984rem  +  1.8652849741vw , 2.375rem );
  }

  .row-sub__aside {
    max-width: clamp( 13.75rem , 12.9987046632rem  +  4.1450777202vw , 16.25rem );
  }

  .row-sub__img {
    padding-right: clamp( 12.5rem , 5.5129533679rem  +  38.5492227979vw , 35.75rem );
  }

  .row-sub__img {
    padding-bottom: clamp( 6.25rem , 1.2726683938rem  +  27.4611398964vw , 22.8125rem );
  }

  .row-sub__fly {
    max-width: clamp( 17.5rem , 15.9974093264rem  +  8.2901554404vw , 22.5rem );
  }

  .row-sub__fly {
    padding-top: clamp( 0.3125rem , 0.0307642487rem  +  1.5544041451vw , 1.25rem );
  }

  .row-sub__fly {
    padding-bottom: clamp( 0.3125rem , 0.0307642487rem  +  1.5544041451vw , 1.25rem );
  }

  .row-sub__fly p {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .row-sub__fly p {
    line-height: clamp( 1.125rem , 1.0123056995rem  +  0.621761658vw , 1.5rem );
  }

  .section-3__copy {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .section-3__copy {
    line-height: clamp( 1rem , 0.8121761658rem  +  1.0362694301vw , 1.625rem );
  }

  .section-4__container {
    padding-left: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-4__container {
    padding-right: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-4__container {
    padding-bottom: clamp( 0.3125rem , -1.4718264249rem  +  9.8445595855vw , 6.25rem );
  }

  .section-5__container {
    padding-left: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-5__container {
    padding-right: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-5__container {
    padding-bottom: clamp( 1.25rem , -0.2525906736rem  +  8.2901554404vw , 6.25rem );
  }

  .section-5__header {
    margin-bottom: clamp( 0.625rem , 0.4371761658rem  +  1.0362694301vw , 1.25rem );
  }

  .section-5__copy {
    font-size: clamp( 0.75rem , 0.6748704663rem  +  0.414507772vw , 1rem );
  }

  .section-5__copy {
    line-height: clamp( 1rem , 0.8121761658rem  +  1.0362694301vw , 1.625rem );
  }

  .section-6__container {
    padding-left: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-6__container {
    padding-right: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-6__header {
    margin-bottom: clamp( 1.875rem , 1.3490932642rem  +  2.9015544041vw , 3.625rem );
  }

  .section-6__copy {
    font-size: clamp( 0.75rem , 0.5997409326rem  +  0.829015544vw , 1.25rem );
  }

  .section-6__copy {
    line-height: clamp( 1rem , 0.8121761658rem  +  1.0362694301vw , 1.625rem );
  }

  .section-6__footer {
    padding-top: clamp( 2.5rem , 1.7111398964rem  +  4.3523316062vw , 5.125rem );
  }

  .section-6__footer {
    padding-bottom: clamp( 1.25rem , 0.085492228rem  +  6.4248704663vw , 5.125rem );
  }

  .section-6__footer {
    max-width: clamp( 11.25rem , 7.6813471503rem  +  19.689119171vw , 23.125rem );
  }

  .section-6__footer > :nth-child(1) {
    font-size: clamp( 0.75rem , 0.4119170984rem  +  1.8652849741vw , 1.875rem );
  }

  .section-6__footer > :nth-child(1) {
    line-height: clamp( 1rem , 0.6243523316rem  +  2.0725388601vw , 2.25rem );
  }

  .section-6__footer > :nth-child(1) {
    margin-bottom: clamp( 1rem , 0.7370466321rem  +  1.4507772021vw , 1.875rem );
  }

  .section-6__footer > :nth-child(2) {
    font-size: clamp( 0.75rem , 0.524611399rem  +  1.2435233161vw , 1.5rem );
  }

  .section-6__footer > :nth-child(2) {
    line-height: clamp( 1rem , 0.6243523316rem  +  2.0725388601vw , 2.25rem );
  }

  .section-6__footer > :nth-child(2) {
    margin-bottom: clamp( 1rem , 0.7370466321rem  +  1.4507772021vw , 1.875rem );
  }

  .section-7__container {
    padding-left: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-7__container {
    padding-right: clamp( 0.3125rem , -0.5327072539rem  +  4.6632124352vw , 3.125rem );
  }

  .section-7__pic {
    padding-right: clamp( 4.375rem , -7.4579015544rem  +  65.2849740933vw , 43.75rem );
  }

  .section-7__pic {
    padding-bottom: clamp( 11.25rem , 3.3613989637rem  +  43.5233160622vw , 37.5rem );
  }

  .section-7__about {
    max-width: clamp( 25rem , 22.7461139896rem  +  12.4352331606vw , 32.5rem );
  }
}

@media (min-width: 18.125em) and (max-width: 61.99875em) {
  .block-title__title {
    font-size: clamp( 1.25rem , 0.8368828172rem  +  2.2792672156vw , 2.25rem );
  }

  .block-title__title {
    line-height: clamp( 1.25rem , 0.8368828172rem  +  2.2792672156vw , 2.25rem );
  }

  .block-title__line {
    width: clamp( 2.5rem , 1.9836035215rem  +  2.8490840195vw , 3.75rem );
  }

  .block-title--center .block-title__line {
    width: clamp( 2.5rem , 1.9836035215rem  +  2.8490840195vw , 3.75rem );
  }

  .section-1__contant {
    padding-left: clamp( 0.625rem , -1.6987841534rem  +  12.8208780877vw , 6.25rem );
  }

  .section-1__contant {
    padding-right: clamp( 0.625rem , -1.6987841534rem  +  12.8208780877vw , 6.25rem );
  }

  .section-1__contant {
    padding-top: clamp( 0.625rem , -1.1823876749rem  +  9.9717940682vw , 5rem );
  }

  .section-1__contant {
    padding-bottom: clamp( 0.625rem , -1.1823876749rem  +  9.9717940682vw , 5rem );
  }

  .section-1__decor-1 {
    width: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }

  .section-1__decor-1 {
    height: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }

  .section-1__decor-2 {
    width: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }

  .section-1__decor-2 {
    height: clamp( 1.875rem , 0.0676123251rem  +  9.9717940682vw , 6.25rem );
  }

  .section-3__exposition {
    padding-bottom: clamp( 1.875rem , 0.5840088037rem  +  7.1227100487vw , 5rem );
  }

  .section-5__cards {
    max-width: clamp( 15.625rem , 4.006079233rem  +  64.1043904385vw , 43.75rem );
  }
}

@media (min-width: 47.99875em) and (max-width: 78.4375em) {
  .about-card__container {
    padding-top: clamp( 1.5625rem , -0.9014003532rem  +  5.1332594144vw , 3.125rem );
  }

  .about-card__container {
    padding-bottom: clamp( 1.5625rem , -0.9014003532rem  +  5.1332594144vw , 3.125rem );
  }

  .about-card__container {
    padding-left: clamp( 1.875rem , 0.8894398587rem  +  2.0533037658vw , 2.5rem );
  }

  .about-card__container {
    padding-right: clamp( 1.875rem , 0.8894398587rem  +  2.0533037658vw , 2.5rem );
  }

  .project-card__main {
    padding-top: clamp( 0.625rem , 0.0336639152rem  +  1.2319822595vw , 1rem );
  }

  .project-card__main {
    padding-bottom: clamp( 0.625rem , 0.0336639152rem  +  1.2319822595vw , 1rem );
  }

  .project-card__main {
    padding-left: clamp( 0.625rem , 0.0336639152rem  +  1.2319822595vw , 1rem );
  }

  .project-card__main {
    padding-right: clamp( 0.625rem , 0.0336639152rem  +  1.2319822595vw , 1rem );
  }

  .about__container {
    padding-top: clamp( 1.875rem , -1.0816804238rem  +  6.1599112973vw , 3.75rem );
  }

  .about__container {
    padding-bottom: clamp( 1.875rem , -1.0816804238rem  +  6.1599112973vw , 3.75rem );
  }

  .about__container {
    padding-left: clamp( 1.25rem , 0.2644398587rem  +  2.0533037658vw , 1.875rem );
  }

  .about__container {
    padding-right: clamp( 1.25rem , 0.2644398587rem  +  2.0533037658vw , 1.875rem );
  }
}

@media (min-width: 18.125em) and (max-width: 47.99875em) {
  .project-card__container {
    min-height: clamp( 12.5rem , 4.9160006695rem  +  41.842754927vw , 25rem );
  }

  .project-card__container {
    max-width: clamp( 12.5rem , 6.4328005356rem  +  33.4742039416vw , 22.5rem );
  }

  .section-1__subtitle {
    font-size: clamp( 0.375rem , 0.1474800201rem  +  1.2552826478vw , 0.75rem );
  }

  .section-1__subtitle {
    line-height: clamp( 0.375rem , 0.1474800201rem  +  1.2552826478vw , 0.75rem );
  }

  .section-1__subtitle {
    margin-bottom: clamp( 0.625rem , 0.5491600067rem  +  0.4184275493vw , 0.75rem );
  }

  .section-2__contant {
    padding-right: clamp( 0.3125rem , -1.3938998494rem  +  9.4146198586vw , 3.125rem );
  }

  .section-2__contant {
    padding-left: clamp( 0.3125rem , -1.3938998494rem  +  9.4146198586vw , 3.125rem );
  }

  .section-2__contant {
    padding-top: clamp( 0.3125rem , -1.7730998159rem  +  11.5067576049vw , 3.75rem );
  }

  .row-main__aside {
    padding-right: clamp( 0rem , -1.1375998996rem  +  6.276413239vw , 1.875rem );
  }

  .row-main__aside {
    padding-left: clamp( 0rem , -1.1375998996rem  +  6.276413239vw , 1.875rem );
  }

  .row-sub__aside {
    padding-right: clamp( 0rem , -0.7583999331rem  +  4.1842754927vw , 1.25rem );
  }

  .row-sub__aside {
    padding-left: clamp( 0rem , -0.7583999331rem  +  4.1842754927vw , 1.25rem );
  }

  .row-sub__fly {
    padding-right: clamp( 0.625rem , -0.5125998996rem  +  6.276413239vw , 2.5rem );
  }

  .row-sub__fly {
    padding-left: clamp( 0.625rem , -0.5125998996rem  +  6.276413239vw , 2.5rem );
  }

  .section-3__contant {
    padding-right: clamp( 0.3125rem , -1.3938998494rem  +  9.4146198586vw , 3.125rem );
  }

  .section-3__contant {
    padding-left: clamp( 0.3125rem , -1.3938998494rem  +  9.4146198586vw , 3.125rem );
  }

  .section-3__exposition {
    padding-right: clamp( 0.3125rem , -1.7730998159rem  +  11.5067576049vw , 3.75rem );
  }
}

@media (min-width: 61.99875em) and (max-width: 78.4375em) {
  .section-3__exposition {
    padding-top: clamp( 3.125rem , -20.4468766634rem  +  38.0199224394vw , 9.375rem );
  }

  .section-3__exposition {
    -ms-flex-preferred-size: clamp( 25rem , 10.856874002rem  +  22.8119534636vw , 28.75rem );
        flex-basis: clamp( 25rem , 10.856874002rem  +  22.8119534636vw , 28.75rem );
  }

  .section-3__pics > :nth-child(1) {
    width: clamp( 16.25rem , -13.6862833625rem  +  48.285301498vw , 24.1875rem );
  }

  .section-3__pics > :nth-child(1) {
    height: clamp( 20.4375rem , -14.9203149951rem  +  57.029883659vw , 29.8125rem );
  }

  .section-3__pics > :nth-child(2) {
    width: clamp( 18.75rem , -18.2578463615rem  +  59.6912782298vw , 28.5625rem );
  }

  .section-3__pics > :nth-child(2) {
    height: clamp( 13.75rem , -7.464688997rem  +  34.2179301954vw , 19.375rem );
  }

  .section-3__bg {
    width: clamp( 17.5rem , -22.5721903277rem  +  64.6338681469vw , 28.125rem );
  }

  .section-3__bg {
    height: clamp( 15.625rem , -19.7328149951rem  +  57.029883659vw , 25rem );
  }

  .section-4__container {
    padding-top: clamp( 3.75rem , -5.6787506653rem  +  15.2079689757vw , 6.25rem );
  }

  .section-5__container {
    padding-top: clamp( 3.75rem , -0.9643753327rem  +  7.6039844879vw , 5rem );
  }

  .section-5__cards {
    -webkit-column-gap: clamp( 0.875rem , -0.5393125998rem  +  2.2811953464vw , 1.25rem );
       -moz-column-gap: clamp( 0.875rem , -0.5393125998rem  +  2.2811953464vw , 1.25rem );
            column-gap: clamp( 0.875rem , -0.5393125998rem  +  2.2811953464vw , 1.25rem );
  }

  .section-5__cards {
    row-gap: clamp( 0.875rem , -0.5393125998rem  +  2.2811953464vw , 1.25rem );
  }

  .section-6__container {
    padding-top: clamp( 3.75rem , -0.9643753327rem  +  7.6039844879vw , 5rem );
  }
}

@media (min-width: 29.99875em) and (max-width: 61.99875em) {
  .section-3__pics > :nth-child(1) {
    width: clamp( 9.375rem , -4.5111401367rem  +  46.2890625vw , 24.1875rem );
  }

  .section-3__pics > :nth-child(1) {
    height: clamp( 12.5rem , -3.7297924805rem  +  54.1015625vw , 29.8125rem );
  }

  .section-3__pics > :nth-child(2) {
    width: clamp( 16.25rem , -0.7414794922rem  +  56.640625vw , 34.375rem );
  }

  .section-3__pics > :nth-child(2) {
    height: clamp( 10.125rem , -0.0698876953rem  +  33.984375vw , 21rem );
  }

  .section-3__bg {
    width: clamp( 9.375rem , -3.1049487305rem  +  41.6015625vw , 22.6875rem );
  }

  .section-3__bg {
    height: clamp( 9.375rem , -4.1010009766rem  +  44.921875vw , 23.75rem );
  }

  .section-4__container {
    padding-top: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
  }

  .section-5__container {
    padding-top: clamp( 2.5rem , 1.3281738281rem  +  3.90625vw , 3.75rem );
  }

  .section-6__container {
    padding-top: clamp( 2.5rem , 1.3281738281rem  +  3.90625vw , 3.75rem );
  }
}

@media (max-width: 61.99875em) and (min-width: 29.99875em) and (max-width: 61.99875em) {
  .section-3__pics {
    height: clamp( 15.625rem , -4.8819580078rem  +  68.359375vw , 37.5rem );
  }

  .section-3__pics {
    margin-bottom: clamp( 3.125rem , 1.3672607422rem  +  5.859375vw , 5rem );
  }
}

@media (max-width: 61.99875em) and (min-width: 61.99875em) {
  .section-3__pics {
    margin-bottom: 5rem;
  }
}